name: Testing

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install ubuntu deps
        run: sudo apt install -y gcc-multilib libxkbcommon-dev
      - name: Run tests
        run: cargo test --verbose -- --test-threads=1
